body {
    font-family: 'Arial', sans-serif;
    color: #332B1F;
    background-color: #F5F5DC;
    margin: 0;
    padding: 0;
}

section {
    margin: 20px;
    padding: 15px;
    background-color: #FFF8DC;
    border-radius: 5px;
}

#terms h2, #terms h3, #gdpr h2,#gdpr h3 {
    color: #8B4513;
    margin-top: 20px;
}

#terms ul, #gdpr ul {
    list-style-type: square;
    margin-left: 20px;
}

#terms li, #gdpr li {
    margin-bottom: 10px;
}

#gdpr {
    margin-bottom: 100px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}