body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .content-container {
    display: flex;
    justify-content: space-around; /* This will add space between the summary and the image */
    align-items: center; /* Aligns items vertically */
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
    max-width: 1200px; /* Adjust as necessary */
    margin: 20px; /* Adds some space around the container */
    gap: 20px; /* Adds space between the summary and image */
  }
  
  .payment-summary {
    flex-basis: 45%; /* Adjust as necessary */
    text-align: center; /* Centers the text */
  }
  
  .payment-summary h1, .payment-summary p {
    margin-bottom: 0.5em;
  }
  
  .order-details {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 20px; /* Adds space above the order details box */
  }
  
  .image-container {
    flex-basis: 45%; /* Adjust as necessary */
    text-align: center; /* Centers the image within its container */
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .content-container {
      flex-direction: column;
    }
    
    .payment-summary, .image-container {
      flex-basis: 100%; /* Each takes full width on smaller screens */
    }
  }
  